
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 50%;
  padding: 10px;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
}

input[type="submit"] {
  grid-column: span 2;
  margin-top: 10px;
     font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

h2 {
	color: red;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    padding: 8px;
 
}

button {
    font-size: 14px;
    padding: 8px;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #1976d2;
}

#ml-result,
#nn-result {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
