<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML and NN Прогнозы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="column">
            <h2>Модель машинного обучения</h2>
            <form action="/ml" method="POST">
                {% for column in ml_columns %}
                <label for="{{ column }}">{{ column }}</label>
                <input type="number" id="{{ column }}" name="{{ column }}" step="any" required>
                {% endfor %}
                <input type="submit" value="Спрогнозировать">
            </form>
            {% if elastic_modulus and tensile_strength %}
                <h2>Прогноз ML:</h2>
                <p>Модуль упругости при растяжении: {{ elastic_modulus }} ГПа</p>
                <p>Прочность при растяжении: {{ tensile_strength }} МПа</p>
            {% endif %}
        </div>
        <div class="column">
            <h2>Нейронная сеть</h2>
            <form action="/nn" method="POST">
                {% for column in nn_columns %}
                <label for="{{ column }}">{{ column }}</label>
                <input type="number" id="{{ column }}" name="{{ column }}" step="any" required>
                {% endfor %}
                <input type="submit" value="Спрогнозировать">
            </form>
            {% if nn_prediction %}
                <h2>Прогноз NN:</h2>
                <p>Соотношение матрица-наполнитель: {{ nn_prediction }} %</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
